.costumer {
    display: flex;
    flex-wrap: wrap;
   
}

.costumers {
    height: 40em;
    width: 30em;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;  
    margin-left:10em;
    margin-top:2em;
  
}
img{
    height:17em;
    margin: 1em;
    width:27em;
}
.name{
    margin-left:2em;
}
.description{
    
  width:27em;
  margin-left: 1em;
  border-bottom-color: darkgray;
}

.button{
    margin-left:8em;
    margin-top:2em;
    margin-right:2em;
}
.btn2{
    margin-left:2em;
}